In [ ]:
#Touples in python
#Touple is created by placing all the items inside () in separated commas.

In [6]:
#Different types of touple
#Empty touple
my_touple = ()
my_touple
#Touple having integers
int_touple = (1,2,3)
int_touple
#touple with mixed datatypes
mixed_touple = (1,"Hello",3.4)
mixed_touple
#nested touple
nested_touple ="mouse",[8,4,6],(1,2,3)
nested_touple

('mouse', [8, 4, 6], (1, 2, 3))

In [8]:
var1 = ("Hello")
print(type(var1))
var2 = ("Hello",)
print(type(var2))

<class 'str'>
<class 'tuple'>

# Access tuple
#1.Indexing

In [10]:
#Index operator = []
tup = 12,"Value","Hello",12.8,90
tup[2] #accessing the 3rd value

'Hello'

In [11]:
#2Negative indexing
tup[-1] #Fetch last element of tuple

90

In [14]:
#3Slicing [:]
tup[2:]

('Hello', 12.8, 90)

# Python Tuple Methods