# Introduction to DBMS 
A Database Management System (DBMS) is a software system that is designed to manage and organize data in a structured manner. It allows users to create, modify, and query a database, as well as manage the security and access controls for that database.

# FileSystem vs DBMS
Difference between File System and DBMS: 
Basis	                                 File System	                                                      DBMS
Structure	         The file system is software that manages and organizes the files in a storage medium within a computer.DBMS is software for managing the database.

Data Redundancy	Redundant data can be present in a file system.	In DBMS there is no redundant data.
Backup and Recovery	It doesn’t provide backup and recovery of data if it is lost.	It provides backup and recovery of data even if it is lost.

Query processing	There is no efficient query processing in the file system.	Efficient query processing is there in DBMS.
Consistency	There is less data consistency in the file system.	There is more data consistency because of the process of normalization.

Complexity	It is less complex as compared to DBMS.	It has more complexity in handling as compared to the file system.
Security Constraints	File systems provide less security in comparison to DBMS.	DBMS has more security mechanisms as compared to file systems.

Cost	It is less expensive than DBMS.	It has a comparatively higher cost than a file system.

Data Independence	There is no data independence.	In DBMS data independence exists.

User Access	Only one user can access data at a time.	Multiple users can access data at a time.

Meaning	The user has to write procedures for managing databases	The user not required to write procedures.

Sharing 	Data is distributed in many files. So, not easy to share data	Due to centralized nature sharing is easy

Data Abstraction	It give details of storage and representation of data	It hides the internal details of Database

Integrity Constraints	Integrity Constraints are difficult to implement	Integrity constraints are easy to implement
Example	Cobol, C++	Oracle, SQL Server

# Database Connection
In this section of the tutorial, we will discuss the steps to connect the python application to the database.

There are the following steps to connect a python application to our database.

Import mysql.connector module
Create the connection object.
Create the cursor object
Execute the query

Creating the connection
To create a connection between the MySQL database and the python application, the connect() method of mysql.connector module is used.

Pass the database details like HostName, username, and the database password in the method call. The method returns the connection object.

The syntax to use the connect() is given below.

Connection-Object= mysql.connector.connect(host = <host-name> , user = <username> , passwd = <password> )

In [3]:
import mysql.connector  
  
#Create the connection object   
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "google")  
  
#printing the connection object   
print(myconn)

C:\Python39\lib\site-packages\mysql\connector\abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':
C:\Python39\lib\site-packages\mysql\connector\abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it)

Here, we must notice that we can specify the database name in the connect() method if we want to connect to a specific database.

In [13]:
import mysql.connector 
  
#Create the connection object   
cnx = mysql.connector.connect(user='root', password='root',
                              host='127.0.0.1',
                              auth_plugin='mysql_native_password')
  
#printing the connection object   
print(myconn)

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

In [15]:
# importing required libraries
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",
user ="root",
passwd ="root"
)

print(dataBase)

# Disconnecting from the server
dataBase.close()

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

MySQL is a Relational Database Management System (RDBMS) whereas the structured Query Language (SQL) is the language used for handling the RDBMS using commands i.e Creating, Inserting, Updating and Deleting the data from the databases. SQL commands are case insensitive i.e CREATE and create signify the same command.

In this article, we will be discussing the MySQL Connector module of Python, how to install this module and a piece of code on how to connect this with the MySQL database. For any application, it is very important to store the database on a server for easy data access.

What is MYSQL Connector/Python?
MySQL Connector/Python enables Python programs to access MySQL databases, using an API that is compliant with the Python Database API Specification v2.0 (PEP 249). It is written in pure Python and does not have any dependencies except for the Python Standard Library.

There are various versions of MySQL Connector/Python available:

# Oracle Database Connection in Python
Sometimes as part of programming, we are required to work with databases because we want to store a huge amount of information so we use databases, such as Oracle, MySQL, etc. So In this article, we will discuss the connectivity of Oracle database using Python. This can be done through the module name cx_Oracle. 

Oracle Database: For communicating with any database through our Python program we require some connector which is nothing but the cx_Oracle module.

For installing cx-Oracle : 

If you are using Python >= 3.6 use the below command in Linux: –

pip install cx-Oracle
If you are using Python >= 3.6 use the below command in Windows: –

py -m pip install cx-Oracle
By this command, you can install cx-Oracle package but it is required to install Oracle database first on your PC. 

Import database specific module 
Ex. import cx_Oracle
connect(): Now Establish a connection between the Python program and Oracle database by using connect() function. 
con = cx_Oracle.connect('username/password@localhost')
cursor(): To execute a SQL query and to provide results some special object is required that is nothing but cursor() object.
cursor = con.cursor()
execute/executemany method:
cursor.execute(sqlquery) - - - -> to execute a single query. 
cursor.executemany(sqlqueries) - - - -> to execute a single query with multiple bind variables/place holders.
commit(): For DML(Data Manipulation Language) queries that comprise operations like update, insert, delete. We need to commit() then only the result reflects in the database.
fetchone(), fetchmany(int), fetchall():
fetchone() : This method is used to fetch one single row from the top of the result set.
fetchmany(int): This method is used to fetch a limited number of rows based on the argument passed in it.
fetchall() : This method is used to fetch all rows from the result set.
close(): After all done it is mandatory to close all operations.
cursor.close()
con.close()

In [5]:
#Creation of table

# importing module
import cx_Oracle
 
# Create a table in Oracle database
try:
 
    con = cx_Oracle.connect('tiger/scott@localhost:1521/xe')
    print(con.version)
 
    # Now execute the sqlquery
    cursor = con.cursor()
 
    # Creating a table employee
    cursor.execute(
        "create table employee(empid integer primary key, name varchar2(30), salary number(10, 2))")
 
    print("Table Created successfully")
 
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

There is a problem with Oracle DPI-1047: Cannot locate a 64-bit Oracle Client library: "The specified module could not be found". See https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html for help

NameError: name 'cursor' is not defined

DDL statements don’t require to be committed. They are automatically committed. In the above program, I have used execute() method to execute an SQL statement.

2. Inserting a record into table using execute() method

In [6]:
# importing module
import cx_Oracle
 
# Inserting a record into a table in Oracle database
try:
    con = cx_Oracle.connect('tiger/scott@localhost:1521/xe')
    cursor = con.cursor()
 
    #con.autocommit = True
    # Inserting a record into table employee
    cursor.execute('insert into employee values(10001,\'Rahul\',50000.50)')
 
    # commit() to make changes reflect in the database
    con.commit()
    print('Record inserted successfully')
 
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

There is a problem with Oracle DPI-1047: Cannot locate a 64-bit Oracle Client library: "The specified module could not be found". See https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html for help

NameError: name 'cursor' is not defined

Once we execute any DML statement it is required to commit the transaction. You can commit a transaction in 2 ways: –

con.commit(). This is used to commit a transaction manually.
con.autocommit = True. This is used to commit a transaction automatically.
3. Inserting multiple records into a table using executemany() method

In [ ]:
import cx_Oracle
 
# Load data from a csv file into Oracle table using executemany
try:
    con = cx_Oracle.connect('tiger/scott@localhost:1521/xe')
 
except cx_Oracle.DatabaseError as er:
    print('There is an error in Oracle database:', er)
 
else:
    try:
        cur = con.cursor()
        data = [[10007, 'Vikram', 48000.0], [10008, 'Sunil', 65000.1], [10009, 'Sameer', 75000.0]]
 
        cur = con.cursor()
        # Inserting multiple records into employee table
        # (:1,:2,:3) are place holders. They pick data from a list supplied as argument
        cur.executemany('insert into employee values(:1,:2,:3)', data)
 
    except cx_Oracle.DatabaseError as er:
        print('There is an error in Oracle database:', er)
 
    except Exception as er:
        print(er)
 
    else:
        # To commit the transaction manually
        con.commit()
        print('Multiple records are inserted successfully')
 
finally:
    if cur:
        cur.close()
    if con:
        con.close()

There might be times when it is required to execute a SQL statement multiple times based on the different values supplied to it each time. This can be achieved using executemany() method. We supply a list containing a list of values that will replace placeholders in a SQL query to be executed. 

From the above case

:1 is substituted by value 10007
:2 is substituted by value ‘Vikram’
:3 is substituted by value 48000.0
And so on(next list of values in a given list)

Similarly, you can supply a list of dictionaries. But instead of placeholder, we will use the bind variable( discussed later).


 View result set from a select query using fetchall(), fetchmany(int), fetchone()

In [ ]:
import cx_Oracle
 
try:
    con = cx_Oracle.connect('tiger/scott@localhost:1521/xe')
 
except cx_Oracle.DatabaseError as er:
    print('There is an error in the Oracle database:', er)
 
else:
    try:
        cur = con.cursor()
 
        # fetchall() is used to fetch all records from result set
        cur.execute('select * from employee')
        rows = cur.fetchall()
        print(rows)
 
        # fetchmany(int) is used to fetch limited number of records from result set based on integer argument passed in it
        cur.execute('select * from employee')
        rows = cur.fetchmany(3)
        print(rows)
 
        # fetchone() is used fetch one record from top of the result set
        cur.execute('select * from employee')
        rows = cur.fetchone()
        print(rows)
 
    except cx_Oracle.DatabaseError as er:
        print('There is an error in the Oracle database:', er)
 
    except Exception as er:
        print('Error:'+str(er))
 
    finally:
        if cur:
            cur.close()
 
finally:
    if con:
        con.close()

In the above program, we have used 3 methods 

fetchall() : The fetchall() is used to fetch all records from the result set.
fetchmany(int) : The fetchmany(int) is used to fetch the limited number of records from the result set based on the integer argument passed in it.
fetchone() : The fetchone() is used to fetch one record from the top of the result set.
    
     View result set from a select query using bind variable

In [ ]:
import cx_Oracle
 
try:
    con = cx_Oracle.connect('tiger/scott@localhost:1521/xe')
 
except cx_Oracle.DatabaseError as er:
    print('There is error in the Oracle database:', er)
 
else:
    try:
        cur = con.cursor()
 
        cur.execute('select * from employee where salary > :sal', {'sal': 50000})
        rows = cur.fetchall()
        print(rows)
 
    except cx_Oracle.DatabaseError as er:
        print('There is error in the Oracle database:', er)
 
    except Exception as er:
        print('Error:', er)
 
    finally:
        if cur:
            cur.close()
 
finally:
    if con:
        con.close()

In this case, I have passed a dictionary in execute() method. This dictionary contains the name of the bind variable as a key, and it’s corresponding value. When the SQL query is executed, value from the key is substituted in place of bind variable.

The fetchone() and fetchall() are the methods of Python MySQL connector and they are used to display data. This connector helps in enabling the Python programs to use MySQL databases. In the below code, we have used MySQL using Python for writing all the queries and fetching all the data from the databases.

1. Fetchone(): Fetchone() method is used when there is a need to retrieve only the first row from the table. The method only returns the first row from the defined table. The method is also used when we want to use the cursor() method for the iteration. This method increments the position of the cursor by 1 and after which it returns the next row.

This method cannot be used for the cursor object rather we run a query using a SQL statement i.e, “SELECT *” that fetches the first row/tuple from the table. After that, we use fetchone() method on the result variable returned by the “SELECT *” statement. Now the method fetches the first row from that result.

Syntax:


<Code>row = cursor.fetchone()</Code>

Steps for using fetchone() in Mysql using Python:

First. import MySQL connector
Now, create a connection with the MySQL connector using connect() method
Next, create a cursor object with the cursor() method
Now create and execute the query using “SELECT *” statement with execute() method to retrieve the data
Use fetchone() method on the result variable.
print the result
Example:

Suppose, there’s a table named “CUSTOMERS” and want to retrieve only the first row from it so, we have to run the below code.

In [1]:
# Program to display the data
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "yourusername",
password = "yourpass",
database = "yourdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM CUSTOMERS")

result = mycursor.fetchone()

print(result)

AttributeError: module 'mysql.connector' has no attribute 'connect'

2. Fetchall(): Fetchall() is a method that fetches all the remaining tuples from the last executed statement from a table (returns a list of tuples). The method only returns the first row from the defined table and If there are no tuples then it returns an empty list in the output.

This method cannot be used for the cursor object rather we run a query using a SQL statement i.e, “SELECT *” that fetches all the rows/tuples from the table. After that, we use fetchall() method on the result variable returned by the “SELECT *” statement.

Syntax:

<Code>row = cursor.fetchall()</Code>

Steps for using fetchall() in Mysql using Python:

First. import MySQL connector
Now, create a connection with the MySQL connector using connect() method
Next, create a cursor object with the cursor() method
Now create and execute the query using “SELECT *” statement with execute() method to retrieve the data
Use fetchall() method on the result variable.
print the result using for each loop to display all
Example:

Suppose, there’s a table named “CUSTOMERS” and want to retrieve all rows from it so, we have to run the below code.

In [3]:
# Program to display the data
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "yourusername",
password = "yourpass",
database = "yourdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM CUSTOMERS")

# This SQL statement selects all data from the CUSTOMER table.
result = mycursor.fetchall()

# Printing all records or rows from the table.
# It returns a result set.
for all in result:
    print(all)

AttributeError: module 'mysql.connector' has no attribute 'connect'

**Static SQL**

Static SQL refers to those SQL statements which are fixed and can be hard coded into the application. As static sqls are fixed queries, these statements can be analysed and optimized and do not require any specific handling for security purpose.

**Dynamic SQL**

Dynamic SQL refers to those SQL statements which are generated dynamically based on user's input and run in the application. Dynamic Sqls helps to develop general and flexible applications. Dynamic SQL may need more permissions and security handling and a malicious user can create dangerous code as well.

Following are some of the important differences between Static Routing and Dynamic Routing.

Sr.No.	Key	                        Static SQL	                                         Dynamic SQL
1.	Database Access	In Static SQL, database access procedure is predetermined in the statement.	In Dynamic SQL, how a database       will be accessed, can be determine only at run time.
2.	Efficiency	   Static SQL statements are more faster and efficient.	Dynamic SQL statements are less efficient.
3.	Compilation	    Static SQL statements are compiled at compile time.	Dynamic SQL statements are compiled at run time.
4.	Application Plan  Application Plan parsing, validation, optimization and generation are compile time activities.	             Application Plan parsing, validation, optimization and generation are run time activities.
5.	Use Cases	Static SQL is used in case of uniformly distributed data.	Dynamic SQL is used in case of non-uniformly             distributed data.
6.	Dynamic Statements	Statements like EXECUTE IMMEDIATE, EXECUTE, PREPARE are not used.	Statements like EXECUTE IMMEDIATE,       EXECUTE, PREPARE are used
7.	Flexibility	Static SQL is less flexible.	Dynamic SQL is highly flexible.

In [ ]:
#Example of Dynamic query
from django.http import JsonResponse
import psycopg2
import ast
def search_table(request):
    search_query=request.GET.get('query')
    queryparam=ast.literal_eval(search_query)
    con=psycopg2.connect(database="database_name",user="user_name",password="pwd",host="0.0.0.0",port="12345")
    cursor=con.cursor()
    and_clause=[]
    for k,v in queryparam.items():
        and_clause.append("%s = '%s'" % (k,v))
    and_clause_str=' AND '.join(and_clause)
    sql_query='SELECT * FROM table_name WHERE ' + and_clause_str
    print(sql_query)
    cursor.execute(sql_query)
    result=cursor.fetchall()
    return JsonResponse(result)

**Transaction Management**

Transactions are a mechanism that ensures data consistency. Transactions have the following four properties −

    Atomicity − Either a transaction completes or nothing happens at all.

    Consistency − A transaction must start in a consistent state and leave the system in a consistent state.

    Isolation − Intermediate results of a transaction are not visible outside the current transaction.

    Durability − Once a transaction was committed, the effects are persistent, even after a system failure.

The Python DB API 2.0 provides two methods to either commit or rollback a transaction.

Example
You already know how to implement transactions. Here is again similar example −

In [ ]:
# Prepare SQL query to DELETE required records
sql = "Delete from tutorials_tbl where tutorial_id = 2"
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

**COMMIT Operation**

Commit is the operation, which gives a green signal to database to finalize the changes, and after this operation, no change can be reverted back.

Here is a simple example to call commit method.

db.commit()

**ROLLBACK Operation**

If you are not satisfied with one or more of the changes and you want to revert back those changes completely, then use rollback() method.

Here is a simple example to call rollback() method.

db.rollback()

**Disconnecting Database**

To disconnect Database connection, use close() method.

db.close()
If the connection to a database is closed by the user with the close() method, any outstanding transactions are rolled back by the DB. However, instead of depending on any of DB lower level implementation details, your application would be better off calling commit or rollback explicitly.